.header{
  &__container{
    padding: 19px 16px 19px 16px;
    background-color: $white;
    display: flex;
    align-items: center;
    position: relative;
  }
  &__burger{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: relative;
    transition: all .2s linear;
    margin-right: 16px;
  }
  &__burger:hover{
    box-shadow: 0 0 5px 0 #34495e;
    border-radius: 50%;
  }
  &__logo{
    width: 97px;
    height: 51px;
  }
  &__option{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: relative;
    transition: all .2s linear;
  }
  &__option:first-child::before{
    content: "";
    width: 2px;
    height: 32px;
    position: absolute;
    left: -20px;
    bottom: 5px;
    background-color: $darkwhite;
  }
  &__buttons-options{
    display: flex;
    align-items: center;
    position: absolute;
    right: 16px;
    gap: 16px;
    margin-left: 20px;
  }
  &__option:hover{
    box-shadow: 0 0 5px 0 #34495e;
    border-radius: 50%;
  }
  &__buttons-contacts{
    display: flex;
    align-items: center;
    position: absolute;
    right: 150px;
    visibility: hidden;
    gap: 16px;
  } 
  &__tel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: all .2s linear;
  }
  &__messenger{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: all .2s linear;
  }
  &__profile{
    background-image: url(../img/ic/profile.svg);
    width: 40px;
    height: 40px;
    padding: 0;
    margin-right: 16px;
  }
}